<mat-toolbar>
  <span>Elsenroth Reservierungs APP</span>
</mat-toolbar>
<!--------------------------------------------------------------------------------------------------------------Actions-->
<div ngbAccordion [closeOthers]="true" xmlns="http://www.w3.org/1999/html" #accMenue="ngbAccordion">
  <!-- ######## STEP 1 - primary data ########                                            -->
  <div ngbAccordionItem="accF1" [collapsed]="false">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>
        Basisdaten
      </button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <app-enquiry-form></app-enquiry-form>
        </ng-template>
      </div>
    </div>
  </div>
  <!-- ######## STEP 2 - extras ########                                                  -->
  <div ngbAccordionItem="accF2" [collapsed]="true">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>
        Extras
      </button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <app-extras-form></app-extras-form>
        </ng-template>
      </div>
    </div>
  </div>
  <!-- ######## STEP 3 - summary ########                                                  -->
  <div ngbAccordionItem="accF3" [collapsed]="true">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>
        Zusammenfassung
      </button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <app-summary-form></app-summary-form>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<section>
  <div class="example-button-row">
    <button mat-flat-button (click)="checkAndSend()">Anfrage absenden</button>
  </div>
</section>

@if (formStateMessage) {
  <ngb-alert #selfClosingAlert (closed)="formStateMessage = ''" type="error">
    <strong>{{ formStateMessage }}</strong>
  </ngb-alert>
}
@if (showFormSavedInfo) {
  <ngb-alert #formSavedInfo (closed)="showFormSavedInfo=false" type="success">
    <strong>
      Ihre Anfrage wurde weitergeleitet.<br>
      Inn kürze werden Sie per Mail oder Telefon kontaktiert.
    </strong>
  </ngb-alert>
}

<router-outlet/>
