<mat-toolbar>
  <span>Elsenroth Reservierungs APP</span>
</mat-toolbar>
<!--------------------------------------------------------------------------------------------------------------Actions-->
<div ngbAccordion [closeOthers]="true" xmlns="http://www.w3.org/1999/html" #accMenue="ngbAccordion">
  <!-- ######## STEP 1 - primary data ########                                            -->
  <div ngbAccordionItem="accF1" [collapsed]="false">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton style="padding: 0">
        Basisdaten
      </button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <app-enquiry-form></app-enquiry-form>
        </ng-template>
      </div>
    </div>
  </div>
  <!-- ######## STEP 2 - extras ########                                                  -->
  <div ngbAccordionItem="accF2" [collapsed]="true">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton style="padding: 0">
        Extras
      </button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <app-extras-form></app-extras-form>
        </ng-template>
      </div>
    </div>
  </div>
  <!-- ######## STEP 3 - discount ########                                                  -->
  <div ngbAccordionItem="accF3" [collapsed]="true">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton style="padding: 0">
        Rabatte
      </button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <app-discount-form></app-discount-form>
        </ng-template>
      </div>
    </div>
  </div>
  <!-- ######## STEP 4 - summary ########                                                  -->
  <div ngbAccordionItem="accF4" [collapsed]="true">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton style="padding: 0">
        Zusammenfassung
      </button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <app-summary-form></app-summary-form>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div class="text-center">
  <div class="example-button-row">
    <button mat-flat-button (click)="checkAndSend()">Anfrage absenden</button>
  </div>
</div>

@if (formStateMessage) {
  <ngb-alert #selfClosingAlert (closed)="formStateMessage = ''" type="danger">
    <strong>{{ formStateMessage }}</strong>
  </ngb-alert>
}

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Anfrage gesendet</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('schliessen')"></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      Ihre Anfrage wurde entgegen genommen.<br>
      Sie werden in Kürze per Mail oder Telefon kontaktiert.
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>


@if (showFormSavedInfo) {
  <ngb-alert #formSavedInfo (closed)="showFormSavedInfo=false" type="success">
    <strong>
      Ihre Anfrage wurde weitergeleitet.<br>
      Inn kürze werden Sie per Mail oder Telefon kontaktiert.
    </strong>
  </ngb-alert>
}

<router-outlet/>
