<mat-form-field>
  <mat-label>Datum der Anmietung</mat-label>
  <input matInput [matDatepicker]="picker" (dateChange)="checkDate($event)">
  <mat-hint>Tag.Monat.Jahr</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<p></p>
<mat-form-field class="example-full-width">
  <mat-label>Ihr Name</mat-label>
  <input matInput placeholder="" [(ngModel)]="name">
</mat-form-field>
<p></p>
<mat-form-field class="example-full-width">
  <mat-label>Ihre Email Adresse</mat-label>
  <input matInput placeholder="" [(ngModel)]="eMail">
</mat-form-field>
<p></p>
<mat-form-field class="example-full-width">
  <mat-label>Ihre Telefon Nummer</mat-label>
  <input matInput placeholder="" [(ngModel)]="phoneNumber">
</mat-form-field>

