<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-checkbox class="" [(ngModel)]="musicBox">Buchen</mat-checkbox>
      <mat-card-title>Musik</mat-card-title>
      <mat-card-subtitle>JBL Partylautsprecher</mat-card-subtitle>
      <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
           alt="Image of a Shiba Inu">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    Unser Partylautsprecher sorgt für die richtige Beschallung ihrer Party.<br>
    Auch ein Mikrofon kann angeschlossen werden.<br>
    Die Musik kann per Bluetooth über jedes aktuelle Handy gestreamt werden.
  </mat-card-content>
</mat-card>
<p></p>
<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-checkbox class="" [(ngModel)]="lightCube">Buchen</mat-checkbox>
      <mat-card-title>Light Cube</mat-card-title>
      <mat-card-subtitle>IBC - Stehtische</mat-card-subtitle>
      <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
           alt="Image of a Shiba Inu">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    Bis zu 4 IBC Light Cubes sorgen für ein Stimmungsvolles Licht außen.<br>
    Die Cubes können auch ohne Beleuchtung als Stehtisch verwendet werden.<br>
  </mat-card-content>
</mat-card>
<p></p>
<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-checkbox class="" [(ngModel)]="grill">Buchen</mat-checkbox>
      <mat-card-title>Grill</mat-card-title>
      <mat-card-subtitle>Großer Gastro-Grill</mat-card-subtitle>
      <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
           alt="Image of a Shiba Inu">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    Mit unserem Thüros Gastro Grill bekommen Sie alle Gäste satt.<br>
    2 60cm Grillflächen sorgen dafür das auch bei einer größeren Anzahl
    Gäste keiner auf seine Grillwaren warten muß.
  </mat-card-content>
</mat-card>
